@use '../../../assets/styles/vars' as *;
@use '../../../assets/styles/mixins' as *;

.about-project {
    display: grid;
    margin-bottom: 194px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../../assets/img/aboutProjectImg.png");

    @media (max-width: $tablet) {
        margin-bottom: 70px;
    }

    @media (max-width: $mobile) {
        margin-bottom: 10px;
    }
}

.about-project__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-project__title {
    @include regular;
    @include base-75;
    margin-bottom: 82px;

    @media (max-width: $tablet) {
        margin-bottom: 70px;
        @include base-60;
    }

    @media (max-width: $mobile) {
        margin-bottom: 30px;
        @include base-40;
    }
}

.about-project__card-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 36px;
    column-gap: 32px;

    @media (max-width: $tablet) {
       row-gap: 20px;
       column-gap: 20px;
    }

    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
}

.about-project__card_1 {
    display: grid;
    grid-template-columns: 90px 1fr 1fr;
    column-gap: 25px;
    align-items: center;
    width: 100%;
    padding: 50px 60px;
    grid-column-start: 1; 
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    border-radius: 30px;
    border: 1px solid $strongViolet;
    background: linear-gradient(#141321 0%, #2C2349 100%);

    @media (max-width: $tablet) {
        padding: 20px;
        justify-content: space-between;
        column-gap: 10px;
    }

    @media (max-width: $mobile) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        justify-content: space-between;
        gap: 20px;
        grid-column-start: 1; 
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }
}

.about-project__card_2 {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 40px 60px;
    gap: 30px;
    width: 100%;
    grid-column-start: 1; 
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    border-radius: 30px;
    border: 1px solid $strongViolet;
    background: linear-gradient(#141321 0%, #2C2349 100%);

    @media (max-width: $tablet) {
        padding: 20px;
        justify-content: space-between;
        gap: 20px;
    }

    @media (max-width: $mobile) {
        grid-column-start: 1; 
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
    }
}

.about-project__card_3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    padding: 40px 60px;
    width: 100%;
    grid-column-start: 2; 
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    border-radius: 30px;
    border: 1px solid $strongViolet;
    background: linear-gradient(#141321 0%, #2C2349 100%); 
    
    @media (max-width: $tablet) {
        padding: 20px;
        justify-content: space-between;
        gap: 20px;
    }

    @media (max-width: $mobile) {
        grid-column-start: 1; 
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
    }
}

.about-project__card_title {
    @include base-22;
    @include font-yeseva-one;
    @include regular;
    line-height: 28px;
    z-index: 5;

    @media (max-width: $mobile) {
        @include base-20;
    }
}

.about-project__card_desc {
    @include base-16;
    line-height: 26px;
    @include light;

    @media (max-width: $mobile) {
        @include base-14;
        line-height: 22px;
    }  
}

.about-project__card_icon {
    display: flex;

    img {
        width: 60px;
        height: 60px;

        @media (max-width: $mobile) {
            width: 50px;
            height: 50px;
        }  
    }
}

.about-project__card_bg-image {
    display: block;
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    bottom: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url("../../../assets/img/aboutProjectCardImg.svg");
    width: 100%;
    height: 100%;
}

.about-project__card_link_btn {
    background-image: url("../../../assets/img/icons/linkButton.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.3s ease;
    background-position: center;
    background-size: cover;
    width: 210px;
    height: 27px;

    &:hover {
        background-image: url("../../../assets/img/icons/linkButton.svg");
        width: 210px;
        height: 27px;
        transform: scale(1.1);
    }
}