@use "../../../assets/styles/vars" as *;
@use "../../../assets/styles/mixins" as *;

.slider-headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    width: 2050px;
    // width: 100%;
    margin: 0 auto;
    // max-height: 950px;
    max-height: 100%;

    // @media(min-width: 2200px) {
    //     max-height: 100%;
    // }

    @media(max-width: $mobile-s) {
        max-width: 768px;
        width: 550px;
    }
}

.slider-headline::after {
    display: table;
    clear: both;
    content: " ";
}

.slider-headline__wrap {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    max-height: 1200px;

    @media(min-width: 2200px) {
        max-height: 100%;
    }
}

.slider-headline__wrap::before {
    position: relative;
    display: block;
    height: 0;
    //padding-top: 56.25%;
    padding-top: 60%;
    content: "";

    @media(max-width: $mobile) {
        padding-top: 150%;
    }

    @media(max-width: $mobile-s) {
        padding-top: 120%;
    }
}

.slider-headline__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider-headline__image-desktop {
    @media(max-width: $mobile) {
        display: none;
    }
}

.slider-headline__image-mobile {
    display: none;
    @media(max-width: $mobile) {
        display: initial;
    }
}

.slider-block {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    z-index: 6;
    width: 100%;
    margin: 0 auto;
    padding: 0 220px 0 220px;
    height: 100%;

    @media(max-width: $mobile) {
        display: none;
    }
}

.slider-block__logo {
    display: flex;
    order: -1;
    position: relative;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    max-width: 760px;

    @media(max-width: $middle-screen-size) {
        max-width: 580px;
    }

    @media(max-width: $laptop) {
        max-width: 500px;
    }

    @media(max-width: $tablet) {
        max-width: 400px;
    }
}

.slider-block__logo-play-wrap {
    display: flex;
    align-items: center;
    max-height: 100px;
}

.slider-block__logo-play-btn {
    background-image: url("../../../assets/img/icons/headerPlayButton.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.slider-block__logo-item-icon {
    background-image: url("../../../assets/img/icons/headerMainLogotype.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 279px;
}

.slider-block__logo-item-desc {
    p {
        text-align: center;
        @include base-16;
        @include light;
    }
}

.slider-square {
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 100%;
    
    // @media(max-width: $middle-screen-size) {
    //     max-width: 480px;
    // }

    // @media(max-width: $laptop) {
    //     max-width: 430px;
    // }

    // @media(max-width: $tablet) {
    //     max-width: 400px;
    // }
}

@keyframes lift {
    0% {
      transform: translateY(0); /* Начальная позиция */
    }
    100% {
      transform: translateY(95px); /* Конечная позиция (подъём на 50px) */
    }
  }

  @keyframes lower {
    0% {
      transform: translateY(95px); /* Начальная позиция (после подъёма) */
    }
    100% {
      transform: translateY(0); /* Конечная позиция (возврат в исходное положение) */
    }
  }