@use "../../../assets/styles/vars" as *;
@use "../../../assets/styles/mixins" as *;

.slider-headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
    width: 2050px;
    // width: 100%;
    margin: 0 auto;
    // max-height: 950px;
    max-height: 100%;

    // @media(min-width: 2200px) {
    //     max-height: 100%;
    // }

    @media(max-width: $mobile) {
        max-width: 768px;
        // width: 550px;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 20px;
    }
}

.slider-headline::after {
    display: table;
    clear: both;
    content: " ";
}

.slider-headline__wrap {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    max-height: 1200px;

    @media(min-width: 2200px) {
        max-height: 100%;
    }

    @media(max-width: $mobile) {
        max-height: 500px;
    }
}

.slider-headline__wrap::before {
    position: relative;
    display: block;
    height: 0;
    //padding-top: 56.25%;
    padding-top: 60%;
    content: "";

    @media(max-width: $mobile) {
        padding-top: 70%;
    }

    @media(max-width: $mobile-s) {
        padding-top: 80%;
    }
}

.slider-headline__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider-headline__image-desktop {
    // @media(max-width: $mobile) {
    //     display: none;
    // }
}

.slider-headline__image-mobile {
    display: none;
    @media(max-width: $mobile) {
        display: initial;
    }
}

.slider-block {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    z-index: 6;
    width: 100%;
    margin: 0 auto;
    padding: 0 220px;
    height: 100%;

    @media(max-width: $middle-screen-size) {
        padding: 0 120px;
    }

    @media(max-width: $tablet) {
        padding: 0 60px;
    }

    @media(max-width: $mobile) {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 15px;
    }
}

.slider-block__logo {
    display: flex;
    order: -1;
    position: relative;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    max-width: 760px;

    @media(max-width: $middle-screen-size) {
        max-width: 580px;
        gap: 20px;
    }

    @media(max-width: $tablet) {
        max-width: 400px;
        gap: 10px;
    }

    @media(max-width: $mobile) {
       max-width: 100%;
       gap: 30px;
    }
}

.slider-block__logo-play-wrap {
    display: flex;
    align-items: center;
    max-height: 100px;
}

.slider-block__logo-play-btn {
    background-image: url("../../../assets/img/icons/headerPlayButton.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: 0.3s ease;
    background-position: center;
    background-size: cover;

    &:hover {
        background-image: url("../../../assets/img/icons/headerPlayButton.svg");
        width: 150px;
        height: 150px;
        transform: scale(1.1);
    }

    @media(max-width: $middle-screen-size) {
        width: 100px;
        height: 100px;
    }

    @media(max-width: $tablet) {
        width: 70px;
        height: 70px;
    }
}

.slider-block__logo-item-icon {
    background-image: url("../../../assets/img/icons/headerMainLogotype.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 279px;

    @media(max-width: $middle-screen-size) {
        height: 200px;
    }

    @media(max-width: $tablet) {
        height: 100px;
    }

    @media(max-width: $mobile) {
       height: 50px;
    }
}

.slider-block__logo-item-desc {
    display: flex;
    flex-direction: column;
    p {
        text-align: center;
        @include base-16;
        @include light;

        @media(max-width: $tablet) {
            @include base-14;
        }

        @media(max-width: $mobile-s) {
            @include base-12;
        }
    }
}

.slider-square {
    display: flex;
    max-width: 100%;
    width: 100%;
    height: 100%;

    @media(max-width: $mobile) {
        display: none;
    }
}
