@use "../../../assets/styles/vars.scss" as *;
@use "../../../assets/styles/mixins.scss" as *;

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px auto 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  height: 58px;
  max-width: 100%;
  width: 830px;
  backdrop-filter: blur(8px);
  background: linear-gradient(#141321 100%, #2C2349 100%);
  border-radius: 30px;
 
  @media (max-width: $laptop) {
    padding: 0 40px;
  }

  @media (max-width: $tablet-xs) {
    margin-top: 0;
    height: 65px;
    justify-content: space-between;
    border-radius: 0;
    width: 100%;
  }

  @media (max-width: $mobile-s) {
    padding: 5px 10px 0 0;
    height: 50px;
  }
}

.header__logo {
  width: 100px;
}

.header-logo-link {
  display: flex;
}

.topbar {
  @include base-14;
}

.header__block {
  display: flex;
  justify-content: space-between;
  gap: 12px;
 
  a {
    @include base-16;
    color: $white;
    cursor: pointer;
  }

  @media (max-width: $tablet-xs) {
    display: none;
  }
}

.nav {
  padding: 18px 0;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 35px;
 
  @media (max-width: $middle-screen-size) {
    gap: 30px;
  }

  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
  }
}
