@use '../../../assets/styles/vars.scss' as *;

.container_size_default {
  width: 1364px;
  max-width: 100%;
  margin: 0 auto;

  @media(max-width: $middle-screen-size) {
    width: 1280px;
  }

  @media (max-width: $laptop) {
    width: 1200px;
    padding: 0 40px;
  }

  @media (max-width: $tablet) {
    width: 100%;
  }
  
  @media (max-width: $mobile-s) {
    padding: 0 15px;
  }
}

.container_size_large {
  width: 1393px;
  max-width: 100%;
  margin: 0 auto;
  // padding: 0 50px;
  // box-sizing: border-box;

  @media (max-width: $laptop) {
    padding: 0 40px;
  }

  @media (max-width: $mobile) {
    width: 100%;
  }

  @media (max-width: $mobile-s) {
    padding: 0 15px;
  }
}

.container_size_large-m {
  width: 1416px;
  max-width: 100%;
  margin: 0 auto;
  // padding: 0 50px;
  // box-sizing: border-box;

  @media (max-width: $laptop) {
    padding: 0 40px;
  }

  @media (max-width: $mobile) {
    width: 100%;
  }

  @media (max-width: $mobile-s) {
    padding: 0 15px;
  }
}

.container__add-border {
    border-right: 1px solid var(--primary-border-color);
    border-left: 1px solid var(--primary-border-color);
}