@use '../../../assets/styles/vars.scss' as *;
@use '../../../assets/styles/mixins.scss' as *;

.issues {
    margin-bottom: 308px;

    @media (max-width: $tablet) {
        margin-bottom: 150px;
    }

    @media (max-width: $mobile) {
        margin-bottom: 100px;
    }
}

.issues__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.issues__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;

    h1 {
        color: $blue;
        line-height: 125%;
        @include base-70;
        @include regular;

        @media (max-width: $tablet) {
            @include base-60;
        }

        @media (max-width: $mobile) {
            @include base-40;
        }
    }

    p {
        @include base-16;
        line-height: 26px;
        text-align: center;
        opacity: 70%;

        @media (max-width: $mobile-s) {
            @include base-14;
             line-height: 20px;
        }
    }

    @media (max-width: $mobile) {
        margin-bottom: 30px;
        gap: 15px;
    }
}

.issues__tabs {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 40px;
    
    @media (max-width: $tablet) {
        flex-wrap: wrap;
    }

    @media (max-width: $mobile) {
        margin-bottom: 30px;
    }
}

.issues__tabs-item {
    padding: 10px 16px;
    color: $violet;
    @include base-16;
    line-height: 20px;
    @include light;
    border: 1px solid $violet;
    border-radius: 30px;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        background-color: $violet;
        color: $white;
    }

    &.active {
        background-color: $violet;
        color: $white;
        pointer-events: none;
        cursor: default;
    }

    @media (max-width: $mobile) {
        width: 100%;
        text-align: center;
    }
}

.issues__video-content {
    display: flex;
    width: 100%;
    height: 657px;
}