@use '../../../assets/styles/vars.scss' as *;
@use '../../../assets/styles/mixins.scss' as *;

.filming {
    display: flex;
    flex-direction: column;
    margin-bottom: 207px;
    position: relative;

    .row-left-right-buttons__container {
        z-index: 10;
    }

    .filming__slider-background {
        z-index: 10;
    }

    .filming__container-background {
        z-index: 5;
    }

    @media (max-width: $tablet) {
        margin-bottom: 70px;
    }

    @media (max-width: $mobile) {
        margin-bottom: 10px;
    }
}

.filming__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 82px;
    position: relative;

    @media (max-width: $mobile) {
        row-gap: 182px;
    }
}

.filming__slider-background {
    position: relative;
    width: 100%;
    height: 540px;
    grid-row-start: 1;
    grid-row-end: 1; 

    @media (max-width: $mobile) {
        height: auto;
    }
}

.filming__slider-background__svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../../assets/img/filmingSliderBgImage.svg');

    @media (max-width: $mobile) {
        height: 350px;
    }
}

.filming__slider-content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
        object-fit: cover;
    }

    @media (max-width: $mobile) {
        height: 350px;
    }
}

.filming__main {
    display: grid;
    grid-template-columns: auto 495px;
    grid-template-rows: 275px;
    grid-row-start: 2;
    grid-row-end: 2;
    column-gap: 62px;
    position: relative; 

    @media (max-width: $laptop) {
        grid-template-columns: auto 400px;
    }

    @media (max-width: $tablet-xs) {
        grid-template-columns: 1fr;
        row-gap: 30px;
        grid-template-rows: auto;
    }
}

.filming__main-title-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.filming__main-title {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    z-index: 44;
    top: -150px;
    left: 50px;

    h1 {
        @include base-90;
        line-height: 85px;

        @media (max-width: $laptop) {
           @include base-70;
        }

        @media (max-width: $tablet) {
           @include base-50;
        }

        @media (max-width: $mobile) {
            @include base-40;
            line-height: 40px;
        }
    }

    @media (max-width: $laptop) {
        gap: 5px;
        left: 0;
    }

    @media (max-width: $tablet-xs) {
        top: -260px;
    }

    @media (max-width: $mobile-s) {
        top: -230px;
    }
}

.filming__main-title-item-without-img {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.filming__main-title-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 25px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $mobile-s) {
        gap: 10px;
    }

    img {
        @media (max-width: $mobile-s) {
          width: 180px;
        }
    }
}

.filming__main-desc {
    display: flex;
    align-items: center;
 
    p {
        @include base-16;
        @include light;
        line-height: 25px;
        opacity: 70%;  

        @media (max-width: $mobile-s) {
           @include base-14;
        }
    }
}

.filming__container-background {
    position: absolute;
    bottom: -340px;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../../assets/img/filmingBgImageBlur.png');
}
